.break {
    word-break: break-all;
}

.oeTree {
    list-style-type: none;
}

.nested {
    display: none;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25BC";
    color: black;
    display: inline-block;
    margin-right: 6px;
    transform: rotate(270deg);
}

.caret-down::before {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}