<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" class="h-100">
<head th:replace="layout :: head"></head>
<body class="h-100">

    <div class="d-flex flex-column h-100">
        <div th:replace="layout :: navbar"></div>
        <div class="container flex-fill">

            <div>&nbsp;</div>
            <header class="jumbotron hero-spacer" style="text-align:center;">
                <h1 class="no-margin">Frontend of Jack the Clipper</h1>
            </header>



        </div>
        <footer th:replace="layout :: footer"></footer>
    </div>
</body>
</html>