<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:replace="layout :: head">
	</head>
	<body>
		<script>
			function feedClicked(name) {
				alert(name);
			}
		</script>
		<div th:replace="layout :: navbar"></div>
		<div class="container">
			<div class="row">
				<div class="col-3 pl-0 pr-0">
					<ul class="list-group">
						<li class="list-group-item" onclick="feedClicked('Kunde1')">Kunde1</li>
						<li class="list-group-item" onclick="feedClicked('Kunde2')">Kunde2</li>
					</ul>
				</div>
				<div class="col-9 pl-0 pr-0">
					<div class="container mt-5">
						<div class="row justify-content-center">
							<div class="col-lg-6">
								<div class="card">
									<div class="card-body">
										<h1>Kunde1</h1>
										<form>
											<div class="form-check mb-2">
												<input class="form-check-input" type="checkbox" value="" id="Quelle1">
												<label class="form-check-label" for="Quelle1">
													Quelle1
												</label>
											</div>
											<div class="form-check mb-2">
												<input class="form-check-input" type="checkbox" value="" id="Quelle2">
												<label class="form-check-label" for="Quelle2">
													Quelle2
												</label>
											</div>
											<button class="btn btn-primary mt-4">Speichern</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>