<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" class="h-100">
    <head th:replace="layout :: head">
    </head>
    <body class="h-100">
        <div class="d-flex flex-column h-100">
            <div th:replace="layout :: navbar"></div>
            <div class="container mt-5 flex-fill">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div>
                                    <form th:if="${email == null}" th:action="@{/{orga}/resetpassword(orga=${org})}" method="post">
                                        <div class="form-group">
                                            <label for="email">E-Mail Adresse</label>
                                            <input type="email" class="form-control" id="email" name="email"
                                                   placeholder="E-Mail Adresse" required>
                                        </div>
                                        <button class="btn btn-primary">Passwort zurücksetzen</button>
                                    </form>
                                    <form th:unless="${email == null}" th:action="@{/{orga}/resetpassword(orga=${org})}"
                                          method="post">
                                        <p>Ihr Passwort wurde zurückgesetzt. Sie werden eine E-Mail mit ihrem neuen Passwort zugeschickt bekommen.
                                            Falls Sie nach ein paar Minuten keine E-Mail erhalten, betätigen Sie die untenstehende Schaltfläche,
                                            um ihr Passwort erneut zurückzusetzen.</p>
                                        <input type="hidden" name="email" th:value="*{email}">
                                        <button class="btn btn-primary">Passwort erneut zurücksetzen</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer th:replace="layout :: footer"></footer>
        </div>
    </body>
</html>