<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" class="h-100">
    <head th:replace="layout :: head">
    </head>
    <body class="h-100">
        <script>
            function showAddSourceModal() {
                $("#modalLabel").text("Quelle hinzufügen");
                $("#inputSourceName").val("");
                $("#uri").val("");
                $("#types").val($("#types").children()[0].value);
                $("#xpath").val("").prop("disabled", false);
                $("#regex").val("").prop("disabled", false);
                $("#blacklist").val("");
                $("#inputId").prop("disabled", true);
                $("#modalForm").attr("action", "[[@{/admin/addSource}]]");
                $("#sourceModal").modal("show");
            }

            function showEditSourceModal(ev) {
                $("#modalLabel").innerText = "Quelle bearbeiten";
                $("#inputSourceName").val($(ev.target).parent().parent().children()[0].innerText);
                $("#uri").val($(ev.target).parent().parent().children()[1].innerText);
                $("#types").val($(ev.target).parent().parent().children()[2].innerText);
                if($(ev.target).parent().parent().children()[2].innerText !== "Rss") {
                    $("#xpath").val($(ev.target).parent().parent().children()[3].innerText);
                    $("#regex").val($(ev.target).parent().parent().children()[4].innerText);
                } else {
                    $("#xpath").val("").prop("disabled", true);
                    $("#regex").val("").prop("disabled", true);
                }
                $("#blacklist").val($(ev.target).parent().parent().children()[5].innerText);
                $("#inputId").val($(ev.target).parent().parent().attr("id")).prop("disabled", false);
                $("#modalForm").attr("action", "[[@{/admin/sources/update}]]");
                $("#sourceModal").modal("show");
            }

            function showDeleteSourceModal() {
                $("#deleteSourceModal").modal("show");
            }

            $(document).ready(function() {
                $("#types").change(function() {
                    if ($("#types").val() !== "Rss") {
                        $("#xpath").val("").prop("disabled", false);
                        $("#regex").val("").prop("disabled", false);
                    } else {
                        $("#xpath").val("").prop("disabled", true);
                        $("#regex").val("").prop("disabled", true);
                    }
                });
            });
        </script>
        <div class="d-flex flex-column h-100">
            <div th:replace="layout :: navbar (name='Quellen bearbeiten')"></div>

            <div class="modal fade" id="addSourceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <form th:action="@{/admin/addSource}" th:object="${source}" id="editModalForm" method="post">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel">Quelle hinzufügen</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                    <div class="form-group">
                                        <label for="inputSourceName">Name</label>
                                        <input type="text" class="form-control" id="inputSourceName" placeholder="Name"
                                               th:field="*{name}" required="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="uri">URL</label>
                                        <input type="text" class="form-control" id="uri" placeholder="URL"
                                               th:field="*{uri}" required="required">
                                    </div>
                                    <label for="types">Quellentyp</label>
                                    <select th:field="*{contentType}" id="types" class="custom-select">
                                        <option th:each="type : ${contentTypes}" th:value="${type.name()}"
                                                th:text="${type.name()}"></option>
                                    </select>
                                    <div class="form-group">
                                        <label for="xpath">XPath</label>
                                        <input type="text" class="form-control" id="xpath" placeholder="XPath"
                                               th:field="*{xPath}">
                                    </div>
                                    <div class="form-group">
                                        <label for="regex">Regex</label>
                                        <input type="text" class="form-control" id="regex" placeholder="Regex"
                                               th:field="*{regEx}">
                                    </div>
                                    <div class="form-group">
                                        <label for="blacklist">Blacklist</label>
                                        <input type="text" class="form-control" id="blacklist" placeholder="Blacklist"
                                               th:field="*{blackList}">
                                    </div>
                                    <input type="hidden" id="inputId" disabled th:field="*{id}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                                <button type="submit" class="btn btn-primary odom-submit">Speichern</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteSourceModal" tabindex="-1" role="dialog" aria-hidden="true" th:if="${focusedSource}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body" id="deleteSourceModalBody"
                             th:text="'Wollen Sie die Quelle ' + ${focusedSource.getName()} + ' wirklich löschen?'">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Abbrechen</button>
                            <form th:action="@{/admin/sources/delete(sourceId=${focusedSource.getId()})}" method="post">
                            <button type="submit" class="btn btn-primary" id="confirmDeleteButton">
                                Bestätigen
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid flex-grow-1">
                <div class="row h-100">
                    <div class="col-sm-3 col-lg-2 px-1 bg-light">
                        <div class="py-2 sticky-top flex-grow-1">
                            <div class="nav flex-sm-column">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#addSourceModal">
                                    Quelle hinzufügen
                                </button>
                                <div th:each="source : ${sources}">
                                    <b th:if="${source.equals(focusedSource)== true}">
                                        <a class="nav-link break" th:text="${source.getName()}"
                                           th:href="@{/admin/sources(sourceId=${source.getId()})}">
                                        </a>
                                    </b>
                                    <a th:unless="${source.equals(focusedSource)== true}" class="nav-link break" th:text="${source.getName()}"
                                       th:href="@{/admin/sources(sourceId=${source.getId()})}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container mt-5">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div th:replace="layout :: alertInfo"></div>
                                    <div class="card">
                                        <div th:if="${sources.size() == 0}" class="card-body">
                                            Momentan existieren noch keine Quellen.
                                            Sie können die Schaltfläche links verwenden, um eine neue Quelle anzulegen.
                                        </div>
                                        <div th:if="${focusedSource == null && sources.size() != 0}" class="card-body">
                                            Diese Quelle existiert nicht.
                                        </div>
                                        <div class="card-body" th:if="${focusedSource}">
                                            <form th:action="@{/admin/sources/update}" th:object="${focusedSource}" method="post">
                                                <div class="form-group">
                                                    <label for="editSourceName">Name</label>
                                                    <input type="text" class="form-control" placeholder="Name"
                                                           th:field="*{name}" required="required" id="editSourceName">
                                                </div>
                                                <div class="form-group">
                                                    <label for="editUri">URL</label>
                                                    <input type="text" class="form-control" placeholder="URL"
                                                           th:field="*{uri}" required="required" id="editUri">
                                                </div>
                                                <label for="editTypes">Quellentyp</label>
                                                <select th:field="*{contentType}" class="custom-select" id="editTypes">
                                                    <option th:each="type : ${contentTypes}" th:value="${type.name()}"
                                                            th:text="${type.name()}"></option>
                                                </select>
                                                <div class="form-group">
                                                    <label for="editXpath">XPath</label>
                                                    <input type="text" class="form-control" placeholder="XPath"
                                                           th:field="*{xPath}" id="editXpath">
                                                </div>
                                                <div class="form-group">
                                                    <label for="editRegex">Regex</label>
                                                    <input type="text" class="form-control" placeholder="Regex"
                                                           th:field="*{regEx}" id="editRegex">
                                                </div>
                                                <div class="form-group">
                                                    <label for="editBlacklist">Blacklist</label>
                                                    <input type="text" class="form-control" placeholder="Blacklist"
                                                           th:field="*{blackList}" id="editBlacklist">
                                                </div>
                                                <input type="hidden" th:field="*{id}">
                                                <button class="btn btn-primary">Speichern</button>
                                                <button type="button" class="btn btn-danger"
                                                onclick="showDeleteSourceModal()">Löschen</button>
                                                <a th:href="@{/admin/sources(sourceId=${focusedSource.getId()})}">
                                                    <button type="button" class="btn btn-secondary">Abbrechen</button>
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-12 table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">URL</th>
                                <th scope="col">Typ</th>
                                <th scope="col">XPath</th>
                                <th scope="col">Regex</th>
                                <th scope="col">Blacklist</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${sources}" th:id="${item.getId()}">
                                <td th:text="${item.getName()}"></td>
                                <td th:text="${item.getUri()}"></td>
                                <td th:text="${item.getContentType()}"></td>
                                <td th:if="${item.getContentType() == rssType}">---</td>
                                <td th:unless="${item.getContentType() == rssType}" th:text="${item.getxPath()}"></td>
                                <td th:if="${item.getContentType() == rssType}">---</td>
                                <td th:unless="${item.getContentType() == rssType}" th:text="${item.getRegEx()}"></td>
                                <td th:if="${item.getBlackList() != null}" th:text="${T(java.lang.String).join(',', item.getBlackList())}"></td>
                                <td th:unless="${item.getBlackList() != null}"></td>
                                <td><button class="btn btn-primary" onclick="showEditSourceModal(event)">Bearbeiten</button></td>
                                <td><button class="btn btn-primary" onclick="showDeleteSourceModal(event)">Entfernen</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>-->
                </div>
            </div>
            <footer th:replace="layout :: footer"></footer>
        </div>
    </body>
</html>